.pizza-heading {
    background-color: #dab695;
}

.pizza-description {
    background-color: 	#f1721a;
}

.pizza-ingredients {
    background-color: 	#ce855e;
}

.pizza-steps {
    background-color: 	#d31805;
}